# > The values in this example file are also used in the development environment.
POSTGRES_USER="admin"
POSTGRES_PASSWORD="SYqujNZNmvEw2Ajk"
# The secret must be an openssl randomized string.
# To generate one: `openssl rand -base64 32`
POSTGRES_DB="rustle"
RUSTLE_SECRET="nI1EzhIwnO63bjg0k1dGbUnGbLtMoQY0lNZzTAbwkiE="
# The database url:
# - Required for development builds
# - Not needed for production builds
DATABASE_URL="postgres://admin:SYqujNZNmvEw2Ajk@db:5432/rustle"