.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  flex: 1 1 30%;
  min-width: 500px;
  max-width: 500px;
  background-color: var(--card-bg);
  border-radius: 12px;
  /*box-shadow: 0 4px 12px rgba(0,0,0,0.1);*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*transition: transform 0.2s ease, box-shadow 0.2s ease;*/
}

.card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  /*box-shadow: 0 2px 8px rgba(0,0,0,0.2);*/
  /*transition: transform 0.2s;*/
  transition: border-color 0.3s ease;
}

.card:hover {
  /*transform: translateY(-4px);*/
  border: 2px solid var(--primary); 
  /*box-shadow: 0 12px 20px rgba(0,0,0,0.15);*/
}

/* Card header: image + members */
.card-header {
  display: flex;
  align-items: center;
  padding: 0 0.5rem 1.5rem 0.5rem;
  gap: 0.75rem;
}

/* Avatar */
.card-header img,
.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.members-count {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

/* Title + dates container */
.card-title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Title */
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dates under title */
.card-dates {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.85rem;
  color: var(--text);
}

.card-dates > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.85rem;
  color: var(--text);
}

.card-dates svg {
  margin-right: 0.5rem;
}

.card-description {
  margin-top: 0.2rem;
  margin-left: 3.5rem;
  font-size: 0.9rem;
  color: var(--text);
  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* Footer button */
.card button {
  margin-top: 1.5rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding: 0.7em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.card button:hover {
  background-color: var(--primary);
  color: #fff;
}
