.markdown-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 210px);
  box-sizing: border-box;
}

.markdown-input,
.markdown-preview {
  flex: 1;
  min-height: 400px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  overflow-y: auto;
  background: var(--card-bg);
  width: 50%;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: pre-wrap;
}

.markdown-input {
  background: var(--card-bg);
  color: var(--text);
  padding: 1.5rem;
  font-family: monospace;
  resize: none;
  resize: none;
}

.markdown-preview {
  background-color: var(--bg);
  padding: 0rem;
  overflow-x: hidden;
}

.markdown {
  padding: 1.5rem;
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.markdown th,
.markdown td {
  border: 2px solid var(--border-color);
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: var(--bg);
}

.markdown th {
  background-color: var(--card-bg);
}
