.page-title-input {
  all: unset;
  border-radius: 8px;
  margin-right: 10rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--text);
  background: transparent;
  border: 2px solid var(--border-color);
}

.page-title-input:focus {
  border-color: var(--primary);
}

/* Dates under title */
.dates {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--text);
}

.dates > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  color: var(--text);
}

.dates svg {
  margin-right: 0.5rem;
}
