/* Root app container */
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ------------------------------ */
/* THEME VARIABLES (Dark by default) */
/* ------------------------------ */
:root {
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
  --sidebar-bg: #1a1a1a;
  --sidebar-hover: #333333;
  --topbar-bg: #1f1f1f;
  --search-bg: #2a2a2a98;
  --dropdown-bg: #1a1a1a;
  --card-bg: #1a1a1a;
  --border-color: #333;
  --error: #950000;
  --primary: hsl(210, 90%, 50%);;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light theme overrides */
[data-theme="light"] {
  --bg: #ffffff;
  --text: #213547;
  --sidebar-bg: #f0f0f5;
  --sidebar-hover: #d6d6ea;
  --topbar-bg: #f9f9f9;
  --search-bg: #e5e5e5;
  --dropdown-bg: #ffffff;
  --card-bg: #f0f0f5;
  --border-color: #ddd;
  --error: #c73924;
}

/* ------------------------------ */
/* GLOBAL STYLES */
/* ------------------------------ */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--text);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  gap: 0.5rem;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button.btn-primary {
  border-radius: 10px;
  padding: 0.7em 1.6em;
  border: 2px solid transparent;
  border-color: var(--primary);
}

button.btn-primary:hover {
  border: 2px solid transparent;
  background-color: var(--primary);
}
